@define-color foreground #c6c6c6;
@define-color background #1c1e1d;
@define-color cursor #c6c6c6;

@define-color color0 #1c1e1d;
@define-color color1 #7FB4C2;
@define-color color2 #9DA49C;
@define-color color3 #8EA9B1;
@define-color color4 #C7BFA8;
@define-color color5 #98BBC5;
@define-color color6 #93C3D0;
@define-color color7 #c6c6c6;
@define-color color8 #607676;
@define-color color9 #7FB4C2;
@define-color color10 #9DA49C;
@define-color color11 #8EA9B1;
@define-color color12 #C7BFA8;
@define-color color13 #98BBC5;
@define-color color14 #93C3D0;
@define-color color15 #c6c6c6;
